{% extends "base.html" %}
{% block content %}

<h5>Title: {{article.ArticleTitle }}</h5>
<h5>PMID: {{ article.PMID }}</h5>
<h5>Article Date: {{ article.ArticleDate }}</h5>
<h5>Authors: {{ article.AuthorList }}</h5>
<h5>Abstract:</h5>
<p>{{ article.AbstractText }}</p>
<h5>Keywords: {{ article.ArticleKeywords }}</h5>
<h5>Tags: </h5>

<div class="container">
    <br/>
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
                <i class="fas fa-search h4 text-body"></i>
            </div>


<!--            <form method="POST" action="/tagPage">-->
                <form method="get">
<!--                    {% csrf_token %}-->
                    {{ form.as_p }}
                    <input id="tag_term" type="text" name="tag_term" value="">
                    <input class="btn btn-lg btn-success" type="submit" value='Search Wiki tags'>
                </form>

        </div>
    </div>
</div>

{% endblock %}